/Mock Test Problem/nbproject/private/
/Mock Test Problem/dist/
/Mock Test Problem/build/
/Shwapno/build/
/Shwapno/dist/
/Shwapno/nbproject/private/
/Su_23_MID_SET_C/Su_23_MID_SET_C/build/
/Su_23_MID_SET_C/Su_23_MID_SET_C/dist/
/Su_23_MID_SET_C/Su_23_MID_SET_C/nbproject/private/
/Midterm_2022042_4/nbproject/private/
/Midterm_2022042_4/build/
/Midterm_2022042_4/dist/
